bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/DemoTests.sln.DotSettings.user
/.idea/.idea.DemoTests/.idea/indexLayout.xml
/.idea/.idea.DemoTests/.idea/misc.xml
/.idea/.idea.DemoTests/.idea/vcs.xml
